.clear-btn {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 2rem;
  background-color: #2b2b2b;
  border: 1px solid #414141;
  transition: background-color 0.1s ease;
  grid-column: span 2;
}

.clear-btn:hover {
  background-color: #464646;
}
