.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 6rem);
  transition: 0.5s;
}

.span-two {
  grid-column: span 2;
}

.digit-btn {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 2rem;
  background-color: #2b2b2b;
  border: 1px solid #414141;
  transition: background-color 0.1s ease;
}

.digit-btn:hover {
  background-color: #464646;
}

.operator-btn {
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 2rem;
  background-color: #dc8c00;
  border: 1px solid #414141;
  transition: background-color 0.1s ease;
}

.operator-btn:hover {
  background-color: #bd7800;
}

@media screen and (max-width: 480px) {
  .calculator-buttons {
    grid-template-rows: repeat(5, 4rem);
  }
  .digit-btn,
  .operator-btn {
    font-size: 1.5rem;
  }
}
