.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: 10%;
}

.dropdown-menu a {
  color: black;
  padding-bottom: 0.5rem;
}

.dropdown-menu a:last-of-type {
  padding-bottom: 0;
}

.dropdown-menu a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.dropdown-cross {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20%;
}

.dropdown-cross:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-cross::after {
  display: inline-block;
  content: '\00d7';
  transform: scale(1.5, 1.5);
}
