.history {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.history__btn {
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1px solid #414141;
  background-color: #2b2b2b;
  cursor: pointer;
  outline: none;
}

.history__btn:hover,
.history__btn:focus-visible {
  background-color: #464646;
}

.history__btn:first-child {
  border-top: 0;
}

.history__btn:last-child {
  border-bottom: 2px solid #414141;
}

.history__operands {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

.history__evaluation {
  font-size: 1.8rem;
  color: #fff;
}
