.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(8rem, auto) repeat(5, 6rem);
}

@media screen and (max-width: 768px) {
  .calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(8rem, auto) repeat(5, 5rem);
  }
}
