.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #2b2b2b;
  border: 1px solid #414141;
  min-height: 100px;
  max-height: 200px;
  border-top: 0;
}

.output__previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output__current {
  color: #fff;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 480px) {
  .output__previous {
    font-size: 1rem;
  }
  .output__current {
    font-size: 1.8rem;
  }
}
