.history {
  margin: 0;
  padding: 0;
}

.history-item {
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
  list-style: none;
  font-size: 2rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1px solid #414141;
}

.history-item:first-child {
  border-top: 0;
}

.history-item:last-child {
  border-bottom: 2px solid #414141;
}

.operands {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

.evaluation {
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .history-item {
    font-size: 1.5rem;
  }
}
