.digit-btn {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  background-color: #2b2b2b;
  border: 1px solid #414141;
  transition: background-color 0.1s ease;
}

.digit-btn:hover {
  background-color: #464646;
}

.digit-btn--span {
  grid-column: span 2;
}
