.evaluate-btn {
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 1.8rem;
  background-color: #dc8c00;
  border: 1px solid #414141;
  transition: background-color 0.1s ease;
}

.evaluate-btn:hover {
  background-color: #bd7800;
}
