.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.icon {
  fill: rgba(255, 255, 255, 0.5);
  margin-right: 5px;
}

.link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
