.history {
  width: 24rem;
  height: 38rem;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  border: 1px solid #414141;
  overflow: hidden;
}

.history-item {
  list-style: none;
  font-size: 2rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px solid #414141;
}

@media screen and (max-width: 768px) {
  .history {
    width: 20rem;
    height: 33rem;
  }
}
