.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .calculator-container {
    justify-content: flex-start;
  }
}
